---
---

<div>
  <p><strong>此網站的主要功能：</strong></p>
  <ul class="mt-5">
    <li>
      <strong>文章</strong> 偶爾寫寫電腦相關小技巧及研究心得文章
    </li>
    <li>
      <strong>遊戲設定檔</strong> 讓我頻道的觀眾輕鬆下載遊戲設定檔
    </li>
    <li>
      <strong>專案</strong> 我的專案的相關傳送門
    </li>
  </ul>

</br>

  <p><strong>此網站的優點：</strong></p>
  <ul class="mt-5">
    <li>
      <strong>超快速</strong>
      使用 <a href="https://astro.build/">Astro 網頁框架</a> + <a href="https://github.com/flexdinesh/blogster">Blogster 網頁樣板</a> 網頁載入速度飛快
    </li>
    <li>
      <strong>暗黑模式</strong> 就...讓你不會瞎掉OwO
    </li>
    <li>
      <strong>裝置相容</strong> 支援手機及平板等等移動裝置瀏覽
    </li>
  </ul>
</div>

</br>

  <p><strong>讓這個網站持續免廣告！！！</strong></p>
  <a href="https://p.ecpay.com.tw/5F5F547">
    <img src="/images/Donate.png" alt="贊助=w=">
  </a>
