---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        塔可努丨TechNoob
      </span>
      <p class="text-2xl pb-4">一隻熱愛研究的狐狸</p>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.youtube.com/@TN_TechNoob"
      >
        <i class="fa-brands fa-youtube" aria-hidden="true" title="TN-TechNoob's Youtube Channel"></i>
        <span>Youtube</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://b23.tv/Ma2UGQL"
      >
        <i class="fa-brands fa-bilibili" aria-hidden="true" title="TN-TechNoob's Bilibili Channel"></i>
        <span>Bilibili</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://discord.gg/Yj9WH3P8RN"
      >
        <i class="fa-brands fa-discord" aria-hidden="true" title="TN-TechNoob's Discord Server"></i>
        <span>Discord</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=CRie0mcNKzfNf39y4sPGQ-FlD3RZZozL&authKey=wLwo3F7LI7jEUESXEqRIiAo0QDRUTSHDnw8NdAha%2F8lbNE4I0%2BscAau08xFpzwwM&noverify=0&group_code=762412352"
      >
        <i class="fa-brands fa-qq" aria-hidden="true" title="TN-TechNoob's QQ Group"></i>
        <span>QQ</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/TN-TechNoob"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="TN-TechNoob on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://steamcommunity.com/profiles/76561198859441313/"
      >
        <i class="fa-brands fa-steam" aria-hidden="true" title="Dinesh on Steam"></i>
        <span>Steam</span>
      </a>
    </div>
  </div>
</section>
